@import "../../../presets/variables"
.banners
	max-width: 850px
	width: 100%
	&__card
		background: $AdminFormBackground
		margin-bottom: 20px
		width: 100%
		border-radius: 5px
		position: relative
	&__name
		font-weight: 500
		font-size: 16px
		padding: 16px
		cursor: pointer
		color: black
		position: relative
		z-index: 1
	&__form
		height: 0
		transition: .5s ease-in-out
		color: black
		overflow: hidden
		display: flex
		position: relative
		padding: 0 16px
		&_active
			height: 430px
	&__inputs
		width: fit-content
		margin-right: 50px
	&__imgSetter
		width: 100%
	&__inputWrapper
		display: flex
		margin-bottom: 10px
	&__inputs, &__imgSetter
		z-index: 2
		position: relative
		background: $AdminFormBackground
		height: fit-content
	&__inputLabel
		width: 150px
	&__input
		border: none
		outline: none
		height: 33px
		width: 100%
		max-width: 155px
		border-radius: 5px
		padding: 0 10px
	&__drag
		&_on, &_out
			width: 400px
			height: 225px
			background: #ababab
		&_on
			display: flex
			justify-content: center
			align-items: center
			flex-direction: column
	&__old_img
		width: 100%
		height: 100%
		object-fit: contain

	&__submit
		background: #ababab
		position: absolute
		width: 200px
		height: 50px
		z-index: 1
		cursor: pointer
		@include ButtonF4
		text-transform: none
		font-weight: 600
		border-radius: 5px

		bottom: 16px
		right: 16px

	&__dropdown
		position: absolute
		height: 51px
		width: 51px
		top: 0
		right: 0
		cursor: pointer
		transition: .3s ease
		z-index: 200
		&_active
			transform: rotate(-90deg)
		&_inactive
			transform: rotate(90deg)

		&::after
			font-family: icomoon
			content: "\e900"
			font-size: 51px
			color: rgba(0,0,0,.5)

	&__delete
		position: absolute
		height: 30px
		top: -4px
		right: -35px
		cursor: pointer
		img
			height: 100%
	&__add
		height: 60px
		top: -4px
		cursor: pointer
		margin: 40px auto 0
		width: 60px
		img
			height: 100%
			transform: rotate(45deg)
