@import "../../presets/variables"
@import "../../presets/functions"

.banner
    @include Content
    margin-bottom: 40px
    display: flex
    justify-content: space-between
    position: relative
    background: rgba(22,22,22,0.5)
    &_0
        flex-direction: row
    &_1
        flex-direction: row-reverse
    &:last-child
        margin-bottom: 0
    &__background
        height: 400px
        width: 400px
        position: relative
        &_img
            position: absolute
            object-fit: cover
            top: 0px
            left: 0
            width: 100%
            height: 100%
    &__content
        display: flex
        position: relative
        flex-direction: column

    &__head
        @include H4Bold
        text-transform: uppercase
        margin-bottom: 10px
    &__button
        margin-top: auto
        display: block
        width: fit-content
        @include ButtonF1
        background: $AdminFormBackground
        padding: 15px 35px
        font-weight: normal
        border-radius: 5px
        &_0
            margin-left: auto
        &_1
            margin-right: auto

@media (max-width: 768px)
    .banner
        width: calcSize(400, 280, 768, 320)
        height: calcSize(400, 280, 768, 320)

        &__desc
            margin-bottom: 20px
