$MainBackground: #161616
$LigthBackground: #454545

@mixin Font ($font-size, $font-weight:normal)
    font:
        family: Montserrat
        style: normal
        weight: $font-weight
        size: $font-size   
    line-height: 150%    

@mixin H1Regular ($font-size: 16px)
    @include Font($font-size)

@mixin H1Bold ($font-size: 16px, $font-weight: bold)
    @include Font($font-size, $font-weight)

@mixin H2Regular ($font-size: 26px)
    @include Font($font-size)

@mixin H2Bold ($font-size: 26px, $font-weight: bold)
    @include Font($font-size, $font-weight)

@mixin H3Regular ($font-size: 30px)
    @include Font($font-size)

@mixin H3Bold ($font-size: 30px, $font-weight: bold)
    @include Font($font-size, $font-weight)

@mixin H4Regular ($font-size: 36px)
    @include Font($font-size)

@mixin H4Bold ($font-size: 36px, $font-weight: bold)
    @include Font($font-size, $font-weight)

@mixin H5Regular ($font-size: 66px)
    @include Font($font-size, $font-weight)

@mixin H5Bold ($font-size: 66px, $font-weight: bold) //!! === H5Bold
    @include Font($font-size, $font-weight)


/*Paragraph*/

@mixin P1Regular ($font-size: 9px)
    @include Font($font-size)

@mixin P2Regular ($font-size: 10px)
    @include Font($font-size)

@mixin P2Bold ($font-size: 10px, $font-weight: bold)
    @include Font($font-size, $font-weight)

@mixin P3Regular ($font-size: 12px, $font-weight:200)
    @include Font($font-size, $font-weight)

@mixin P3Bold ($font-size: 12px, $font-weight: bold)
    @include Font($font-size, $font-weight)

@mixin P4Regular ($font-size: 14px)
    @include Font($font-size)

@mixin P5Regular ($font-size: 16px)
    @include Font($font-size)

@mixin P6Bold ($font-size: 16px, $font-weight: bold)
    @include Font($font-size, $font-weight)

/*Fonts Tag*/


/*ButtonsFont*/
@mixin ButtonFont ($font-size, $text-transform: uppercase)
    font:
        family: Montserrat
        style: normal
        weight: bold
        size: $font-size  
    color: black
    text:
        transform: $text-transform
        align: center

@mixin ButtonF1 ($font-size: 20px)
    @include ButtonFont($font-size)

@mixin ButtonF2 ($font-size: 26px)
    @include ButtonFont($font-size)

@mixin ButtonF3 ($font-size: 16px)
    @include ButtonFont($font-size)

@mixin ButtonF4 ($font-size: 20px, $text-transform: none)
    @include ButtonFont($font-size)

@mixin ButtonF5 ($font-size: 12px)
    @include ButtonFont($font-size)

